<configuration>
  <system.webServer>
    <handlers>
      <add name="PHP-FastCGI"
           path="*.php"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\Program Files (x86)\PHP\v7.4\php-cgi.exe"
           resourceType="Either" />
    </handlers>
  </system.webServer>
</configuration>


